<a href="https://colab.research.google.com/github/ritikakulkarni/python_WorkShop1/blob/master/PythonDay1Session2Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #1 Write a program to print the triangle 
i/p  4

1
2    3
3    4   5
4    5   6   7

# 2 Enter number 4

*
* *
* * *
* * * *

In [2]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *