<a href="https://colab.research.google.com/github/ritikakulkarni/python_WorkShop1/blob/master/PythonDay2Sessioon1Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. print multiples of 3 upto 200 using a list

In [1]:
import numpy as np
x = np.arange(1, 100)
# find  multiple of 3 or 5
n= x[(x % 3 == 0) | (x % 5 == 0)]
print(n[:200])
# print sum the numbers
print(n.sum())

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

# 2. print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [2]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

3. Add the n number of names in a list and print them alphabetically and reverse alphabetically.

# New Section

In [3]:
# Program to sort alphabetically the words form a string provided by the user

my_str = "Hello this Is an Example With cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
Example
Hello
Is
With
an
cased
letters
this

# 4. Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [4]:
def squares(a, b):
    lists=[]
    # Traverse through all numbers
    for i in range (a,b+1):
        j = 1;
        while j*j <= i:
            if j*j == i:
                 lists.append(i)  
            j = j+1
        i = i+1
    return lists
print(squares(5, 1000))

[9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]

# 5.Calculate the Average of  the numbers in a List by getting the elements of list from keyboard .

In [6]:
# Python program to get average of a list 
def Average(lst): 
    return sum(lst) / len(lst) 
  
# Driver Code 
lst = [15, 9, 55, 41, 35, 20, 62, 49] 
average = Average(lst) 
  
# Printing average of the list 
print("Average of the list =", round(average, 2))

Average of the list = 35.75

# Tuple exercises

1. Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [8]:
# creating a list 
list1 = [1, 2, 5, 6] 
  
# using list comprehension to iterate each 
# values in list and create a tuple as specified 
res = [(val, pow(val, 3)) for val in list1] 
  
# print the result 
print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]